<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌙 Victoria Taylor</title>
    <link rel="stylesheet" href="/css/torium.css">
    <link rel="stylesheet" href="/css/torium-nav-foot.css">
    <link rel="stylesheet" href="/css/torium-misc.css">
    <link rel="stylesheet" href="/css/torium-content.css">
</head>

<body>

<div class="flex-box"></div>

<div class="main-container">
    <nav class="fira-mono-regular">
        <a class="nav-logo fira-mono-bold">[tori] $ <span class="blink">▋</span></a>
        <div class="nav-items">
            <a class="home" href="/about">
                <span class="alt-color">./</span><span class="underlined">about</span>
            </a>
            <a href="/blog">
                <span class="alt-color">./</span><span class="underlined">blog</span>
            </a>
            <a href="/contact">
                <span class="alt-color">./</span><span class="underlined">contact</span>
            </a>
            <a href="https://github.com/Toadsta">
                <span class="alt-color">./</span><span class="underlined">projects</span>
            </a>
            <a href="/vicos">
                <span class="alt-color">./</span><span class="underlined">vicos</span>
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="section-left fira-mono-regular">
            <%- include(body) %>
        </div>
        <div class="section-right fira-mono-regular"></div>

    </div>

    <footer class="fira-mono-regular">
        Copyright 2025, Victoria Taylor <br>
        Inspired by the <a class="fira-mono-bold" href="https://github.com/joeroe/risotto">Rissoto</a> theme for
        <a class="fira-mono-bold" href="https://github.com/gohugoio/hugo">Hugo</a>
    </footer>
</div>

<div class="flex-box"></div>

</body>
</html>