body {
    background-color: #45a19f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2325908e' fill-opacity='0.36' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 50px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    cursor: url('../images/arrow.cur'), auto;
    overflow: hidden;
}


#logoImage {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 275px;
    height: auto;
    pointer-events: none;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.4));
}

.shelf {
    position: absolute;
    left: 5px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

.icon-link { text-decoration: none; }

.icon-button {
    position: static;
    padding: 8px;
    width: 75px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 10px;
    background-color: transparent;
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.icon-button img {
    width: 50px;
    height: auto;
    margin-bottom: 6px;
    display: block;
}
.icon-button span { display:block; text-align:center; }

.window{
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 20%;
    position: absolute;
    background-color: #92cac7;
    outline-color: white;
    width: 80%;
    height: 80%;
    z-index: 100;
    border: 8px double #217572;
    border-radius: 6px; /* optional */
}
.window.hide{
    display: none;
}

.window-menu{
    background-color: #217572;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.window-menu.hide{
    display: none;
}

.window-close {
    font-weight: bolder;
    border: 2px solid #92cac7 ;
    background: none;
    margin-right: 2px;
    margin-bottom: 2px;
    z-index: 300;
    color: white;
    cursor: pointer;
}
.window-close.hide{
    display: none;
}

#playPauseButton {
    position: absolute;
    bottom: 5px;
    right: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;

}

#playPauseButton img {
    width: 60%;
    height: auto;
}

#time{
    position: absolute;
    bottom: 11px;
    right: 17px;
    border: none;
    background-color: transparent;
}

#bottom-bar {
    position: absolute;
    z-index: 200;
    height: 40px;
    bottom: 0;
    width: 100%;
    display: flex;
    background: linear-gradient(to top, #d6d6d6 96%, #ffffff 4%);
}






